target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

node_modules
dist

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-userId

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/dist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment & Logs ###
*.log
.env
.env.local
data/
*.db
.metals/
.bloop/
